<div class="container">
    <div class="sidebar">
        Sidebar
    </div>

    <header class="header">
        Header
    </header>

    <div class="realtors">
        Top 3 realtors
    </div>

    <section class="features">
        <div class="feature">
            <svg class="feature__icon" viewBox="0 0 45 45" height="45" width="45" >
                <circle r="20" cx="50" cy="50" fill="brown"></circle>
            </svg>
            <h4 class="heading-4">World's best luxury homes</h4>
            <p class="feature__text">
                Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved on we he farther letters. Repulsive he he as deficient newspaper dashwoods we. 
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <circle r="20" cx="50" cy="50" fill="brown"></circle>
            </svg>
            <h4 class="heading-4">World's best luxury homes</h4>
            <p class="feature__text">
                Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved on we he farther letters. Repulsive he he as deficient newspaper dashwoods we. 
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <circle r="20" cx="50" cy="50" fill="brown"></circle>
            </svg>
            <h4 class="heading-4">World's best luxury homes</h4>
            <p class="feature__text">
                Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved on we he farther letters. Repulsive he he as deficient newspaper dashwoods we. 
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <circle r="20" cx="50" cy="50" fill="brown"></circle>
            </svg>
            <h4 class="heading-4">World's best luxury homes</h4>
            <p class="feature__text">
                Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved on we he farther letters. Repulsive he he as deficient newspaper dashwoods we. 
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <circle r="20" cx="50" cy="50" fill="brown"></circle>
            </svg>
            <h4 class="heading-4">World's best luxury homes</h4>
            <p class="feature__text">
                Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved on we he farther letters. Repulsive he he as deficient newspaper dashwoods we. 
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <circle r="20" cx="50" cy="50" fill="brown"></circle>
            </svg>
            <h4 class="heading-4">World's best luxury homes</h4>
            <p class="feature__text">
                Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved on we he farther letters. Repulsive he he as deficient newspaper dashwoods we. 
            </p>
        </div>
    </section>

    <div class="story__pictures">
        Story Pictures
    </div>

    <div class="store__content">
        Store Content
    </div>

    <div class="section homes">
        section homes
    </div>

    <section class="gallery">
        gallery
    </section>

    <footer class="footer">
        footer
    </footer>
</div>